.container-form {
  border: 5px solid cornflowerblue;
}

.title {
  text-align: center;
}

.form-itens {
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  height: 500px;
  margin: 0 auto;
  padding: 20px;
  width: 350px;
}

.container-card-pre {
  border: 2px solid red;
  height: 450px;
  margin-left: 20px;
  width: 350px;
}

.text-area {
  height: 70px;
  resize: none;
  width: 97%;
}

.container-geral {
  display: flex;
  justify-content: center;
}

input {
  margin-top: 5px;
}

.input-geral {
  padding: 8px;
  width: 70%;
}
