.form-itens {
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  width: 300px;
}

.text-area {
  height: 60px;
  resize: none;
  width: 270px;
}

.container-geral {
  display: flex;
  justify-content: center;
}

.container-card-pre {
  border: 2px solid red;
  margin-left: 20px;
  width: 300px;
}
